*, *:before, *:after
  padding: 0
  margin: 0
  box-sizing: border-box

img
  max-width: 100%

body
  font-family: 'Roboto', sans-serif
  font-size: 16px
  line-height: 28px

.wrapper
  width: 100%
  overflow: hidden
  //text-align: center

.block-1
  font-size: 0
  line-height: 0

.main-photo
  display: inline-block
  max-width: 70%


.main-description
  display: inline-block
  width: 30%
  vertical-align: top
  padding: 55px 25px 5px 50px
  font-size: 18px
  line-height: 28px
  letter-spacing: 0.03em
  .menu-icon
    margin-bottom: 65px
  .menu:hover
    opacity: .5
  p
    margin-bottom: 35px

h1
  font-size: 40px
  line-height: 58px
  color: #262f32
  font-weight: normal
  .light
    font-weight: 300
  .bold
    font-weight: bold
  margin-bottom: 50px

.block-2
  font-size: 0

.functions
  background: url("../img/bg-1.jpg") no-repeat
  display: inline-block
  width: 45%
  padding: 55px 75px 60px 60px

.function-block
  margin-bottom: 65px
  h2
    font-size: 45px
    line-height: 66px
    letter-spacing: 0.03em
    color: white
    font-weight: 300
    margin-bottom: 25px
    .black
      font-weight: 900
  p
    font-size: 16px
    line-height: 28px
    //letter-spacing: 0.03em
    color: white

.features
  display: inline-block
  width: 55%
  vertical-align: top

button
  border: 1px solid
  border-radius: 10px
  background-color: transparent
  font-size: 16px
  line-height: 32px
  letter-spacing: 0.03em
  padding: 10px 0
  width: 200px
  &:hover
    cursor: pointer
    font-weight: bold

.starting
  background: url("../img/bg-2.jpg") no-repeat
  padding: 60px 155px 65px 55px
  h2
    font-size: 45px
    line-height: 66px
    letter-spacing: 0.03em
    color: #262f32
    font-weight: 300
    margin-bottom: 20px
    .black
      font-weight: 900
  p
    font-size: 16px
    line-height: 28px
    color: #262f32
    margin-bottom: 50px
  button
    color: #262f32
    border-color: #262f32


.verified
  background: url("../img/bg-3.jpg") no-repeat
  padding: 60px 155px 64px 55px
  h2
    font-size: 45px
    line-height: 66px
    letter-spacing: 0.03em
    color: white
    font-weight: 300
    margin-bottom: 20px
    .black
      font-weight: 900
  p
    font-size: 16px
    line-height: 28px
    color: rgba(255,255,255,0.7)
    margin-bottom: 50px
  button
    color: white
    border-color: white

@media (min-width: 1370px)
  .wrapper
    text-align: center
  .main-description
    text-align: left